@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Fira+Sans:wght@600&family=Monda&family=Open+Sans:ital,wght@0,300;1,300&family=Secular+One&family=Ubuntu:wght@500;700&display=swap");
nav {
  padding: 0.5em;
  background-color: rgb(128, 128, 128);
}
@media (min-width: 1024px) {
  nav {
    padding: 20px;
  }
}
@media (min-width: 500px) {
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
nav ul li {
  display: inline-block;
}
nav ul li:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
  color: rgb(15, 72, 105);
  font-weight: bolder;
}
nav ul li a:hover {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) {
  a {
    text-shadow: rgb(250, 252, 255) 0px 0px 30px;
  }
}

body {
  text-align: center;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 0.5;
  line-height: 3.5em;
  margin: 0 3em;
  font-style: italic;
}
@media (min-width: 1024px) {
  p {
    margin: 0.5em;
    color: black;
    text-align: center;
  }
}

h1 {
  margin-left: 2em;
  color: rgb(53, 85, 114);
  line-height: 200px;
  text-align: left;
  vertical-align: middle;
  text-shadow: rgb(31, 52, 71) 0px 0px 30px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}
@media (min-width: 768px) {
  h1 {
    text-shadow: rgb(250, 252, 255) 0px 0px 30px;
  }
}
@media (min-width: 1024px) {
  h1 {
    margin: 0.5em;
    color: black;
  }
}

h2 {
  padding: 1.5em;
  font-size: 0.7;
}
h2:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

h3 {
  font-weight: bolder;
  font-size: 1.5em;
}

h4 {
  color: white;
  margin-top: 57px;
  font-weight: bolder;
  font-style: normal;
  font-family: monospace;
  font-family: ubuntu;
}

article {
  color: white;
  font-size: 1.5em;
  background-color: gray;
  padding: 2em;
  font-style: italic;
  font-weight: bolder;
}

aside {
  color: white;
  font-size: 1.5em;
  background-color: gray;
  padding: 2em;
  font-style: italic;
}

@media (min-width: 500px) {
  article,
aside {
    font-size: 1.4em;
    color: rgb(188, 214, 231);
  }
}

button[type=submit] {
  padding: 13px 43px;
  background-color: rgb(2, 2, 2);
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
  box-shadow: 3px 3px 0px 0px #5a5a5a;
}
button[type=submit]:hover {
  background-color: rgb(142, 222, 253);
  color: black;
  box-shadow: none;
}

footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 120px;
  padding: 1.25em;
}
@media (min-width: 500px) {
  footer {
    background-color: rgba(128, 128, 128, 0.137);
  }
}

.imgLab {
  width: 550px;
  height: 250px;
  border: 6px solid rgba(78, 66, 109, 0.4588235294);
  margin-top: 15px;
}
@media (min-width: 500px) {
  .imgLab {
    width: 600px;
    height: 250px;
  }
}
@media (min-width: 768px) {
  .imgLab {
    border: 8px solid rgba(0, 0, 0, 0.034);
  }
}
@media (min-width: 1024px) {
  .imgLab {
    border: 15px solid rgba(0, 0, 0, 0.034);
  }
}

.camlab {
  background-image: url("../img/img8.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
}

.contraste {
  color: white;
  margin-top: 57px;
  font-weight: bolder;
  font-style: normal;
  font-family: monospace;
}

/*------------sucursales------*/
.fondo {
  background-color: rgba(43, 42, 42, 0.212);
  padding-bottom: 3em;
  display: inline-block;
}

.titulo {
  font-size: 2.5em;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  text-shadow: rgb(18, 28, 37) 0px 0px 30px;
  font-family: ubuntu;
}

.mapsLab {
  margin: 2em;
  width: 700px;
  height: 400px;
  border: 4px outset rgba(128, 128, 128, 0.521);
}

.direccion {
  font-size: 0.9em;
  font-family: ubuntu;
  color: snow;
}

/*----------sucursales---------*/
/*---------preguntas------------*/
.titulo2 {
  padding: 0 2em;
  font-size: 1em;
}

/*----------preguntas----------*/
/*----------contacto------------*/
.letra {
  font-size: 1em;
  font-weight: bold;
  font-family: ubuntu;
}

/*----------contacto------------*/
.galeria {
  background-color: rgba(128, 128, 128, 0.397);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 8px;
}

.accordion-item {
  background-color: rgba(24, 90, 90, 0.233);
}

@media (min-width: 500px) {
  .planta {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .osociales {
    width: 100%;
  }
}

.letra {
  font-size: 1em;
  width: 20px;
}

.letra2 {
  font-family: ubuntu;
  font-size: 1.3em;
}

.accordion-button {
  background-color: rgba(7, 46, 49, 0.205);
  padding: 2em;
  color: white;
  font-family: ubuntu;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgba(14, 96, 102, 0.205);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.25rem;
  width: 25%;
  margin-inline: auto;
}
.form label {
  font-size: 1.15em;
  font-family: ubuntu;
  color: black;
}

.consulta {
  margin-top: 8rem;
}

.items {
  width: 400px;
  margin-inline: auto;
}

.btn-primary {
  border: 1px solid #6eccb1;
  border-radius: 25px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 25px;
  text-decoration: none;
  transition: all 0.6s;
  background-color: transparent;
}

div.container-fluid > a.navbar-brand {
  color: white;
}

ul.navbar-nav > li.nav-item > a.nav-link {
  color: snow;
  font-size: 17px;
  padding: 8px 11px;
}

button.btn-outline-success {
  color: black;
  background-color: gray;
}

.btn-primary:hover {
  background-color: rgba(128, 128, 128, 0.719);
}

div.collapse-horizontal > div.card-body {
  background-color: rgba(255, 255, 255, 0.671);
  text-align: center;
  line-height: 1.8;
  width: 65%;
  display: inline-block;
  border-radius: 25px;
  margin: 50px;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 15px;
  align-items: center;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 80px;
}

.contacto-resumen {
  color: white;
  font-family: ubuntu;
  margin: 0;
  line-height: normal;
}

.decoration {
  border-radius: 5px;
  padding: 10px 16px;
}

.offcanvas {
  background-color: #adb5bd;
}

/*acomodo areas*/
.envoltura {
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "nav" "carousel" "accordion" "fondo" "article" "aside" "galeria" "atencion" "consulta" "footer";
}
@media (min-width: 500px) {
  .envoltura {
    grid-template-areas: "header header" "nav nav" "fondo fondo" "carousel carousel" "accordion accordion" "article aside" "galeria galeria" "atencion atencion" "consulta consulta" "footer footer";
  }
}
@media (min-width: 768px) {
  .envoltura {
    background: rgb(6, 38, 51);
    background: linear-gradient(90deg, rgba(6, 38, 51, 0.9780287115) 0%, rgba(24, 83, 115, 0.9444152661) 23%, rgba(6, 156, 177, 0.7119222689) 66%, rgba(16, 137, 157, 0.4094012605) 100%, rgb(0, 212, 255) 100%);
    grid-template-columns: 1fr 4fr 1fr;
    margin-bottom: 1.5em;
    grid-template-areas: "header header header" "nav nav nav" "carousel carousel carousel" "article aside aside" "galeria galeria galeria" "fondo fondo fondo" "accordion accordion accordion" "atencion atencion atencion" "consulta consulta consulta" "footer footer footer";
  }
}
@media (min-width: 1024px) {
  .envoltura {
    background: rgb(6, 38, 51);
    background: linear-gradient(90deg, rgba(6, 38, 51, 0.9780287115) 0%, rgba(24, 83, 115, 0.9444152661) 23%, rgba(6, 156, 177, 0.7119222689) 66%, rgba(16, 137, 157, 0.4094012605) 100%, rgb(0, 212, 255) 100%);
  }
}

/*declaro áreas*/
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
}

.galeria {
  grid-area: galeria;
}

.accordion {
  grid-area: accordion;
}

.fondo {
  grid-area: fondo;
}

.carousel {
  grid-area: carousel;
}

.atencion {
  grid-area: atencion;
}

.consulta {
  grid-area: consulta;
}

footer {
  grid-area: footer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=estilos.css.map */