.imgLab {
  width: 550px;
  height: 250px;
  border: 6px solid rgba(78, 66, 109, 0.4588235294);
  margin-top: 15px;

  @media (min-width: 500px) {
    width: 600px;
    height: 250px;
  }
  @media (min-width: 768px) {
    border: 8px solid rgba(0, 0, 0, 0.034);
  }

  @media (min-width: 1024px) {
    border: 15px solid rgba(0, 0, 0, 0.034);
  }
}
.camlab {
  background-image: url("../img/img8.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
}

.contraste {
  color: white;
  text-shadow: rgb(9, 6, 49);
}

/*------------sucursales------*/
.fondo {
  background-color: rgba(43, 42, 42, 0.212);
  padding-bottom: 3em;
  display: inline-block;
}

.titulo {
  font-size: 1.5em;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  text-shadow: rgb(18, 28, 37) 0px 0px 30px;
}

.mapsLab {
  margin: 2em;
  width: 700px;
  height: 400px;
  border: 4px outset rgba(128, 128, 128, 0.521);
}

.direccion {
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----------sucursales---------*/

/*---------preguntas------------*/
.titulo2 {
  padding: 0 2em;
  font-size: 1em;
}

/*----------preguntas----------*/
/*----------contacto------------*/
.letra {
  font-size: 1em;
  font-weight: bold;
}
/*----------contacto------------*/

.imganimada {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid black;
}

.imganimada:hover {
  filter: saturate(180%);
}

.galeria {
  background-color: rgba(128, 128, 128, 0.397);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 8px;
}
.accordion-item {
  background-color: rgba(24, 90, 90, 0.233);
}
/*acomodo areas*/
.envoltura {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "carousel"
    "accordion"
    "fondo"
    "article"
    "aside"
    "galeria"
    "atencion"
    "footer";
  @media (min-width: 500px) {
    grid-template-areas:
      "header header"
      "nav nav"
      "fondo fondo"
      "carousel carousel"
      "accordion accordion"
      "article aside"
      "galeria galeria"
      "atencion atencion"
      "footer footer";
  }
  @media (min-width: 768px) {
    background: rgb(6, 38, 51);
    background: linear-gradient(
      90deg,
      rgba(6, 38, 51, 0.9780287115) 0%,
      rgba(24, 83, 115, 0.9444152661) 23%,
      rgba(6, 156, 177, 0.7119222689) 66%,
      rgba(16, 137, 157, 0.4094012605) 100%,
      rgb(0, 212, 255) 100%
    );
    grid-template-columns: 1fr 4fr 1fr;
    margin-bottom: 1.5em;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "carousel carousel carousel"
      "article aside aside"
      "galeria galeria galeria"
      "fondo fondo fondo"
      "accordion accordion accordion"
      "atencion atencion atencion"
      "footer footer footer";
  }
  @media (min-width: 1024px) {
    background: rgb(6, 38, 51);
    background: linear-gradient(
      90deg,
      rgba(6, 38, 51, 0.9780287115) 0%,
      rgba(24, 83, 115, 0.9444152661) 23%,
      rgba(6, 156, 177, 0.7119222689) 66%,
      rgba(16, 137, 157, 0.4094012605) 100%,
      rgb(0, 212, 255) 100%
    );
  }
}
.planta {
  @media (min-width: 500px) {
    width: 100%;
  }
}

.osociales {
  @media (min-width: 500px) {
    width: 100%;
  }
}
.letra {
  font-size: 1em;
  width: 20px;
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0.637);
}

.accordion-button {
  background-color: rgba(11, 69, 73, 0.205);
  padding: 2em;
}

.accordion-button:not(.collapsed) {
  color: $b;
  background-color: rgba(14, 96, 102, 0.205);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.25rem;
}
.consulta {
  margin-top: 8rem;
}
.items {
  width: 400px;
  margin-inline: auto;
}

.nav-link {
  color: red;
}
.nav-item {
  color: red;
}
