@charset "UTF-8";
@import "variableGlobal";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");
@import "./generales";
@import "./clases";
@import "gridareas";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
